<section id="contact" class="px-4 py-16 text-center">
  <h2>Contacts</h2>

  <div class="mt-8 flex flex-wrap justify-center gap-12">
    <!-- Column: Chat + Social -->
    <div class="flex flex-col gap-8">
      <app-contact-group title="Chat">
        <app-contact-button
          id="telegram"
          rel="me noopener"
          href="https://t.me/pythoncatania"
          ariaLabel="Telegram"
          buttonClass="border-[#2aabee] bg-[#2aabee] text-white hover:border-[#1d96d4] hover:bg-[#1d96d4]"
        >
          <app-icon-telegram />Telegram
        </app-contact-button>
      </app-contact-group>

      <app-contact-group title="Social" gap="gap-5">
        <app-contact-button
          id="facebook"
          rel="me noopener"
          href="https://www.facebook.com/PythonCatania"
          ariaLabel="Facebook"
          buttonClass="border-secondary bg-secondary hover:border-secondary-hover hover:bg-secondary-hover text-white"
        >
          <app-icon-facebook />Facebook
        </app-contact-button>
        <app-contact-button
          id="linkedin"
          rel="me noopener"
          href="https://www.linkedin.com/groups/9895708/"
          ariaLabel="LinkedIn"
          buttonClass="border-secondary bg-secondary hover:border-secondary-hover hover:bg-secondary-hover text-white"
        >
          <app-icon-linkedin />LinkedIn
        </app-contact-button>
        <app-contact-button
          id="youtube"
          rel="me noopener"
          href="https://www.youtube.com/@pythoncatania"
          ariaLabel="YouTube"
          buttonClass="border-secondary bg-secondary hover:border-secondary-hover hover:bg-secondary-hover text-white"
        >
          <app-icon-youtube />YouTube
        </app-contact-button>
        <app-contact-button
          id="instagram"
          rel="me noopener"
          href="https://www.instagram.com/pythoncatania/"
          ariaLabel="Instagram"
          buttonClass="border-secondary bg-secondary hover:border-secondary-hover hover:bg-secondary-hover text-white"
        >
          <app-icon-instagram />Instagram
        </app-contact-button>
        <app-contact-button
          id="mastodon"
          rel="me noopener"
          href="https://social.python.it/@pycatania"
          ariaLabel="Mastodon"
          buttonClass="border-secondary bg-secondary hover:border-secondary-hover hover:bg-secondary-hover text-white"
        >
          <app-icon-mastodon />Mastodon
        </app-contact-button>
      </app-contact-group>
    </div>

    <!-- Column: Code + Networks + Partners -->
    <div class="flex flex-col gap-8">
      <app-contact-group title="Code">
        <app-contact-button
          id="github"
          rel="me noopener"
          href="https://github.com/PythonCatania"
          ariaLabel="GitHub"
        >
          <app-icon-github />GitHub
        </app-contact-button>
      </app-contact-group>

      <app-contact-group title="Networks">
        <app-contact-button
          id="python-software-foundation"
          href="https://www.python.org/"
          ariaLabel="Python Software Foundation"
          buttonClass="border-[#f50000] bg-transparent text-[#f50000] hover:border-[#f50000] hover:bg-[#f50000]/10 hover:text-[#f50000]"
        >
          <app-icon-psf /><abbr title="Python Software Foundation">PSF</abbr>
        </app-contact-button>
        <app-contact-button
          id="python-italia"
          href="https://www.python.it/"
          ariaLabel="Python Italia"
          buttonClass="border-[#f50000] bg-transparent text-[#f50000] hover:border-[#f50000] hover:bg-[#f50000]/10 hover:text-[#f50000]"
        >
          <app-icon-python-italia />Python&nbsp;Italia
        </app-contact-button>
      </app-contact-group>

      <app-contact-group title="Media Partners">
        <app-contact-button
          id="pycon-italia"
          href="https://www.pycon.it/"
          ariaLabel="PyCon Italia"
          buttonClass="border-white bg-transparent text-white hover:border-white hover:bg-white/10"
        >
          <app-icon-pycon-italia />PyCon&nbsp;Italia
        </app-contact-button>
      </app-contact-group>

      <app-contact-group title="Community Partners">
        <app-contact-button
          id="google-developer-group-catania"
          href="https://gdg.community.dev/gdg-catania/"
          ariaLabel="Google Developer Group Catania"
          buttonClass="border-white bg-transparent text-white hover:border-white hover:bg-white/10"
        >
          <app-icon-gdg /><abbr title="Google Developer Group">GDG</abbr>&nbsp;Catania
        </app-contact-button>
      </app-contact-group>
    </div>
  </div>
</section>
