<section id="supporters" class="px-4 py-16 text-center">
  <h2>{{ 'supporters.title' | transloco }}</h2>

  <ul class="mt-10 flex list-none flex-wrap justify-center gap-10 p-0">
    <li class="flex flex-col items-center gap-4">
      <div
        class="flex h-24 w-24 items-center justify-center rounded-(--radius) border border-(--border) bg-(--surface) text-7xl"
      >
        <app-icon-psf />
      </div>
      <app-contact-button
        id="python-software-foundation"
        href="https://www.python.org/"
        ariaLabel="Python Software Foundation"
        variant="primary-outline"
      >
        <app-icon-psf /><abbr title="Python Software Foundation">PSF</abbr>
      </app-contact-button>
    </li>

    <li class="flex flex-col items-center gap-4">
      <div
        class="flex h-24 w-24 items-center justify-center rounded-(--radius) border border-(--border) bg-(--surface) text-7xl"
      >
        <app-icon-python-italia />
      </div>
      <app-contact-button
        id="python-italia"
        href="https://www.python.it/"
        ariaLabel="Python Italia"
        variant="primary-outline"
      >
        <app-icon-python-italia />Python&nbsp;Italia
      </app-contact-button>
    </li>

    <li class="flex flex-col items-center gap-4">
      <div
        class="flex h-24 w-24 items-center justify-center rounded-(--radius) border border-(--border) bg-(--surface) text-7xl"
      >
        <app-icon-pycon-italia />
      </div>
      <app-contact-button
        id="pycon-italia"
        href="https://www.pycon.it/"
        ariaLabel="PyCon Italia"
        variant="white-outline"
      >
        <app-icon-pycon-italia />PyCon&nbsp;Italia
      </app-contact-button>
    </li>

    <li class="flex flex-col items-center gap-4">
      <div
        class="flex h-24 w-24 items-center justify-center rounded-(--radius) border border-(--border) bg-(--surface) text-7xl"
      >
        <app-icon-gdg />
      </div>
      <app-contact-button
        id="google-developer-group-catania"
        href="https://gdg.community.dev/gdg-catania/"
        ariaLabel="Google Developer Group Catania"
        variant="white-outline"
      >
        <app-icon-gdg /><abbr title="Google Developer Group">GDG</abbr>&nbsp;Catania
      </app-contact-button>
    </li>
  </ul>
</section>
