@charset "UTF-8";

// ── Buttons ──────────────────────────────────────────────────────────────────
@layer base {
  [role='button'],
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-primary);
    border-radius: var(--radius);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition-property: color, background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    background-color: var(--color-primary);
    color: #fff;

    svg {
      flex-shrink: 0;
      fill: currentColor;
    }

    &:hover {
      background-color: var(--color-primary-hover);
      border-color: var(--color-primary-hover);
      color: #fff;
    }
  }
}
